HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/**
mvnw
mvnw.cmd
nbactions.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
#build/
!**/src/main/**/build/
!**/src/test/**/build/

### exclude WS4J DB ###
src/main/resources/wnjpn.db

### exclude absolute paths inside configuration ###
src/main/java/edu/cmu/lti/ws4j/util/WS4JConfiguration.java
src/main/java/edu/cmu/lti/jawjaw/util/Configuration.java

### VS Code ###
.vscode/
/nbproject/